@using emanetV2.Model
@model emanetV2.Admin.Models.PublicationEditViewModel

@{
    ViewBag.Title = "İlan Düzenle";
}

@using (@Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <div class="form-horizontal" style="margin-top:10%">

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Id)
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Title)
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Slug)
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Slug, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Slug, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Note)
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.AnimalTypeId, "Tür", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-5">
                @Html.DropDownList("AnimalTypeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AnimalTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.AnimalSizeId, "Boyut", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-5">
                @Html.DropDownList("AnimalSizeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AnimalSizeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.StatusId)
            </div>
            <div class="col-md-10">
                <select class="form-control" id="StatusId" name="StatusId">
                    <option value="@((int)Statuses.Published)">Yayında</option>
                    <option selected value="@((int)Statuses.Draft)">Taslak</option>
                </select>
                @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
            </div>

        </div>


    </div>
    <div class="form-group">
        <div class="col-md">

            <input type="submit" value="Oluştur" class="btn btn-primary" />
            @Html.ActionLink("Geri Dön", "Index", "Publication", null, new { @class = "btn btn-primary" })
        </div>
    </div>
}